@import url(https://fonts.googleapis.com/css?family=Roboto:300);
header .header{
  background-color: #fff;
  height: 45px;
}
* {
  direction: ltr;
}
h3 { 
  color: #1a505a;
  font-size: 24px;
  font-variant:initial; 
  font-family: Georgia, "Times New Roman", Times, serif;
}
p {
  font-weight: bold;
}
header a img{
  width: 134px;
margin-top: 4px;
}
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.login-page .form .login{
  margin-top: -31px;
margin-bottom: 26px;
}
.form {
width: 300px;
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: serif;
    margin-top: 9px;
    background-color: #328f8a;
    background-image: linear-gradient(45deg,#328f8a,#B684C2);
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    width: 138PX;
  }
  
.form .message {
  margin: 15px 0 0;
  color: #222222;
  font-size: 16px;
}
.form .message a {
   color: #308695;;
  text-decoration: none;
}
input:focus{
  border:#009297 solid 1px;
  border-radius:10px ;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

body {
  background-color: #328f8a;
  background-image: linear-gradient(45deg,#328f8a,#455054);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#error {
  color: rgb(109, 50, 50);
  font-size: 15px;
  padding:10px ;
  display: block;
}
.form button:hover {
 transform: scale(1.09);
}
input[placeholder] {
  font-size: 16px;
}

